/* Global Styles */
* { text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #imageslider{
    display: flex;
    flex: 1;
   margin: auto;
   overflow-x:auto;
    scroll-snap-type:  x mandatory;
    scroll-behavior: smooth;
    height: 200px;
    width: 130px;
    column-gap: 1px;
    z-index: 1;
    
  }
  img{
    z-index: 1;
    height:  150px;
    width: 130px;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

  /* Add your header styles here */
  header{
    background-color: black;
    color: white;
  }
  header p {
    display: inline-block;
  }

  header span{
    margin: 5px;
  }
.leftp
  {
   margin-left: 20px;
    text-align: left;
    width:49%; 
  }
  #attheend{
   text-align: right;
   font-size: 12px;
   width: 49%;
   padding-right: 20px;
  }
  a:hover{
    color: orange;
    text-decoration: underline;

  }
  a{
    color:white;
    text-decoration: none;
  }
  /* Add your hero section styles here */
  .color{
    color: orange;
    font-size: 15px;
    border: none;
    padding: 3px;
    border-radius: 2px;
  }
  .orange{
    text-align: center;
    color: white;
    background-color: orange;
    padding: 30px;
    margin: 20px;
  }

  /* Add your about section styles here */
.section2 {
 
  margin:50px 20px 20px 20px;
}
 /* Add your projects section styles here */
 article span{
  font-weight: bold;
 }
.boder{
  margin: 10px;
  padding: 30px;
  background-color: lightgray;
  display: inline-block;
  border-width: 2px;
  border-radius: 10px;
border-color: none;
border-style: none;

}
.slide
{
  background-color: rgb(223, 222, 222);
  padding: 10px;
}

  /* Add your contact form styles here */
  .for{
    margin: 5px;
    text-align: left;
    width: 50%;
  }
  .fir{
    width: 50%;
    background-color: orange;
    border: none;
  }


  /* Add your footer styles here */
  .footer{
    background-color: black;
    color: white;
  }

  /* Add your responsive design styles here */